--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
fastapi
uvicorn
sqlalchemy
psycopg2-binary
qdrant-client
xgboost
pandas
numpy
pydantic-settings
python-multipart
tqdm
scikit-learn
gradio
redis
